<section class="post_container">
    <form id="write_form" class="write_form" method="POST">
      <div class="form_control_box">
        
        <input  required=true id="title_write" placeholder="제목" type="text" class="write title"  ></input>
        <%if(!myName){%>
        <input required=true id="writer_write" placeholder="작성자" type="text" class="write writer" ></input>
        <%}else{%>
          <input value=<%=myName%> id="writer_write" class="write writer" readonly></input>
          <%}%>
        <input required=true id="password_write" placeholder="비밀번호" type="password" class="write writer"></input>
        <button type="text" class="write_add">글쓰기 완료</button>
      </div>
        
          <textarea id="content_write" class="post_content"></textarea>
    </form>
  </section>