<section>
  <section class="control_box">
    <button id="addWrite">글쓰기</button>
    <form method="GET" action="/api/search" id="search_form">
      <input name="term" placeholder="search" id="search_term" value=" " />
      <input
        type="date"
        name="date"
        placeholder="검색"
        class="invisible"
        id="search_date_term"
      />

      <select name="searchSelect" id="search_select">
        <option selected value="title">제목</option>
        <option value="date">날짜</option>
        <option value="writer">작성자</option>
      </select>
      <input type="submit" id="search_submit" />
    </form>
    <button id="data_sort">날짜순</button>
    <button id="title_sort">제목순</button>
    <button id="writer_sort">작성자순</button>
  </section>
  <div class="lists" id="lists"></div>
  <div class="nums" id="nums">
    <a href="#">1</a>
  </div>
</section>
