<section id="post_container" class="post_container">
    <header class="post_header">
      <div class="detail_container">
      <h2 class="detail_title post title"></h2>
      <span class="detail_date post createdAt"></span>
      <span class="detail_writer post writer"></span>
      <button
        id="edit_post"
        class="post_edit"
      >
        수정
      </button>
      <button id="delete_post" class="">삭제</button>
    </header>
    <div>
      <p class="post_content"></p>
    </div>
  </section>
  