.write_header {
  display: flex;
  align-items: center;
}

.post_content {
  padding: 0.5rem;
  background-color: lightgray;
  width: 39em;
  height: 18em;
}

.form_control_box {
  display: flex;
  margin-bottom: 0.5rem;
}
