* {
  color: inherit;
  text-decoration: none;
  font-size: 0.9rem;
}

h1 {
  margin-right: 5rem;
  font-size: 1.5rem;
}

main {
  margin: 1rem 0;
}

header {
  display: flex;
  align-items: center;
}

.myName {
  margin-left: 5rem;
}

.list {
  width: 45rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;
  place-items: center start;
  place-content: center center;
}

.list:hover {
  background-color: lightblue;
}

.control_box {
  display: flex;
}

.invisible {
  display: none;
}

.detail_btn {
  cursor: pointer;
}

.nums {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
}

.nums span {
  margin: 0.1rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.nums span:hover {
  color: blue;
}

.nums span:active {
  color: skyblue;
}
