.list {
  max-width: 50rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;
  place-items: center center;
  place-content: center center;
}

.list:hover {
  background-color: lightblue;
}

.lists_title {
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 3fr 2fr 1fr;
  place-items: center center;
  place-content: center center;
}

.control_box {
  display: flex;
}

.invisible {
  display: none;
}

.detail_btn {
  cursor: pointer;
}

.nums {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
}

.nums span {
  margin: 0.1rem 0.3rem;
  font-size: 1rem;
  cursor: pointer;
}

.nums span:hover {
  color: blue;
}

.nums span:active {
  color: skyblue;
}
