<h1><%=title%></h1>
<a href="/">HOME</a>
<%if(myName){%>
<span class="myName"
  ><%=myName%>님 반갑습니다. 이 닉네임은 20분 동안 사용할 수 있습니다.</span
>
<%}else{%>
<span class="myName">글이나 댓글을 쓰시면 닉네임이 생깁니다.</span>
<%}%>
